@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="overlay text-center">
        <h1 class="display-4 text-white">Welcome</h1>
     
    </div>
</div>
<style>
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url('https://nhahangso.com/wp-content/uploads/2022/08/khong-gian-nha-hang-5-sao-1920x1277.webp');
        background-size: cover; /* Đảm bảo ảnh nền bao phủ toàn bộ màn hình */
        background-position: center; /* Căn giữa hình nền */
        background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5); /* Lớp phủ tối */
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text-white {
        color: white;
    }

    .text-warning {
        color: #f39c12;
        text-decoration: none;
    }

        .text-warning:hover {
            color: #ffc107;
        }
</style>

